aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiohttp-retry==2.9.1
aiosignal==1.3.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
async-timeout==5.0.1
attrs==25.1.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
Django==5.1.3
django-cors-headers==4.3.1
django-otp==1.5.4
django-sslserver==0.22
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf-extra-fields==3.7.0
filetype==1.2.0
frozenlist==1.5.0
idna==3.10
multidict==6.1.0
pillow==11.1.0
propcache==0.2.1
psycopg==3.2.3
psycopg-binary==3.2.4
pycparser==2.22
PyJWT==2.10.1
pyotp==2.9.0
python-decouple==3.8
pytz==2024.2
qrcode==8.0
requests==2.32.3
sqlparse==0.5.2
twilio==9.4.5
typing_extensions==4.12.2
urllib3==2.3.0
yarl==1.18.3
