.user-main-div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: var(--primary-color);
  width: 80%;
  margin: 0 auto;
}

.user-main-content {
  overflow-y: scroll;
  scrollbar-width: none;
  flex-grow: 1;
}

.user-main-div h1 {
  font-family: var(--primary-font);
  font-size: 3rem;
}

.user-main-div h2,
label {
  font-family: var(--secondary-font);
  letter-spacing: 0.1rem;
  font-size: 2rem;
}

.username-title-div,
.alias-title-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2;
  margin: 20px auto;
  width: 100%;
  max-width: 350px;
}

.input-div input {
  text-align: center;
  width: 100%;
  max-width: 400px;
  font-family: var(--secondary-font);
  padding: 0.8em;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: 5px;
  outline: none;
  background: white;
  transition:
    border 0.3s,
    box-shadow 0.3s;
}

.input-div input::placeholder {
  opacity: 0.5;
}

.input-div input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 10px rgba(255, 94, 0, 0.2);
}

.username-title,
.alias-title,
label {
  font-weight: 300;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 1.8rem;
}

.user-main-div input {
  color: var(--tertiary-color);
  text-align: center;
  font-size: 1.3em;
  padding: 0.4em;
}

.username-title-value,
.alias-title-value {
  font-weight: 800;
  font-style: var(--primary-font);
}

.user-main-div img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.file-input {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}

.file-label {
  width: 100%;
  font-family: var(--secondary-font);
  margin-top: 1rem;
  padding: 0.8em;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: 5px;
  background: white;
  display: inline-block;
  text-align: center;
  transition:
    border 0.3s,
    box-shadow 0.3s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.file-label:hover {
  border-color: var(--primary-color);
  box-shadow: 0 0 10px rgba(255, 94, 0, 0.2);
}

.file-input:focus + .file-label,
.file-input:valid + .file-label {
  border-color: var(--primary-color);
  box-shadow: 0 0 10px rgba(255, 94, 0, 0.2);
  background-color: var(--primary-light);
}

.form-2FA-main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.app2FA-div,
.email2FA-div,
.sms2FA-div {
  display: flex;
  flex-direction: column;
}

.checkbox-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}

.checkbox-div label {
  display: block;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.checkbox-div input {
  margin: 10px;
}

@media (max-width: 800px) {
  .user-main-div h2 {
    font-size: 1.5em;
  }

  .input-div {
    max-width: 300px;
  }
}

.checkbox-div .switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.checkbox-div .switch input {
  display: none;
}

.checkbox-div .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.checkbox-div .slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

.checkbox-div input:checked + .slider {
  background-color: #66bb6a;
}

.checkbox-div input:checked + .slider:before {
  transform: translateX(26px);
}

.checkbox-div .slider.round {
  border-radius: 34px;
}

.checkbox-div .slider.round:before {
  border-radius: 50%;
}

.email2FA-input-div,
.sms2FA-input-div {
  margin-top: -1rem;
  margin-bottom: 4rem;
}
