.nav-section-game {
  font-size: 2em;
  letter-spacing: 0.1em;
}

.global-nav-items button:hover {
  color: var(--secondary-color);
  background: var(--primary-color);
  box-shadow: 0 6px 12px rgba(218, 76, 15, 0.5); /* Augmentation de l'ombre */
  transform: translateY(-3px); /* Légère élévation */
}

.global-nav-items button {
  all: unset; /* Réinitialise toutes les propriétés CSS */
  display: revert; /* Réapplique les valeurs par défaut du navigateur */
  padding-right: 0.3em;
  padding-left: 0.3em;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.game-paused-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-paused-title h1 {
  font-family: "Oi", cursive;
  letter-spacing: 1em;
  margin-left: 2rem;
  font-size: 3rem;
  text-align: center;
}

.container-selector {
  width: 200%;
  height: 70%;
}

.select-difficulty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.select-difficulty button,
.online-pvp-div button {
  width: 100%;
  color: #fff;
  font-family: var(--button-font);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 1px;
  margin: 1rem;
}

.online-pvp-div button {
  width: 40%;
  font-size: 1rem;
}

.searching-online-pvp {
  font-family: var(--button-font);
  font-size: 1.2rem;
}

#easy-btn {
  background-color: var(--validate-color);
}

#normal-btn {
  background-color: var(--orange);
}

#difficult-btn,
.online-pvp-div button {
  background-color: var(--danger-color);
}

.select-difficulty button:hover,
.online-pvp-div button:hover {
  transform: scale(1.1);
}

.select-difficulty button:active,
.online-pvp-div button:active {
  transform: scale(1);
}

.loading-pvp-game {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
}

.loading-pvp-game h2 {
  margin: auto;
}

@media (max-width: 900px) {
  .game-paused-title h1 {
    font-size: 2rem;
  }
}

@media (max-width: 489px) {
  .game-paused-title h1 {
    font-size: 1.7rem;
  }
}

@media (min-width: 0px) and (max-width: 850px) {
  .global-nav-section {
    font-size: 1.5em;
  }
}
