.nav-section-game {
  font-size: 2em;
  letter-spacing: 0.1em;
}

.global-nav-items button:hover {
  color: var(--secondary-color);
  background: var(--primary-color);
  box-shadow: 0 6px 12px rgba(218, 76, 15, 0.5); /* Augmentation de l'ombre */
  transform: translateY(-3px); /* Légère élévation */
}

.global-nav-items button {
  all: unset; /* Réinitialise toutes les propriétés CSS */
  display: revert; /* Réapplique les valeurs par défaut du navigateur */
  padding-right: 0.3em;
  padding-left: 0.3em;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.game-paused-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-paused-title h1 {
  font-family: "Oi", cursive;
  letter-spacing: 1em;
  margin-left: 2rem;
  font-size: 3rem;
  text-align: center;
}

.container-selector {
  width: 200%;
  height: 70%;
}

@media (max-width: 900px) {
  .game-paused-title h1 {
    font-size: 2rem;
  }
}

@media (max-width: 489px) {
  .game-paused-title h1 {
    font-size: 1.7rem;
  }
}

@media (min-width: 0px) and (max-width: 850px) {
  .global-nav-section {
    font-size: 1.5em;
  }
}
