@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
:root {
  --blue: rgba(10, 68, 120);
  --beige: rgba(222, 212, 184);
  --orange: #ffcc00;
}

body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* Positionner le canvas en arrière-plan */
canvas#c {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place le canvas derrière les autres éléments */ 
}

/* Appliquer un positionnement relatif pour le contenu */
.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%); /* Conserve le centrage */
  height: 60vh;
  width: 60%;
  max-width: 1200px;
  min-width: 320px;
  background: #ece8c4e9;
  padding: 20px;
  color: var(--blue);
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  font-size: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: floating 3s ease-in-out infinite;
}

/* Animation mise à jour */
@keyframes floating {
  0% {
    transform: translate(-50%, -45%) translateY(0) rotate(0deg);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
  50% {
    transform: translate(-50%, -45%) translateY(-10px) rotate(1deg);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: translate(-50%, -45%) translateY(0) rotate(0deg);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 931px) and (max-width: 1250px) {
  .menu {
    width: 70%;
  }
}

@media (min-width: 800px) and (max-width: 930px) {
  .menu {
    width: 80%;
  }
}

@media (max-width: 799px) {
  .menu {
    width: 90%;
  }
}

.view2 {
  position: absolute;
  top: 12%; /* Positionner l'élément 50% du haut de l'écran */
  left: 50%; /* Positionner l'élément 50% du côté gauche de l'écran */
  transform: translate(
    -50%,
    -50%
  ); /* Centre l'élément par rapport à son point de départ */
  height: 10vh; /* Prend toute la hauteur de la fenêtre sauf la hauteur du header */
  width: 40%; /* Définir une largeur (ou un max-width) pour #app */
  max-width: 1200px; /* Optionnel : limiter la largeur maximale */
  background: rgba(
    175,
    60,
    60,
    0
  ); /* Fond semi-transparent (si vous le souhaitez) */
  padding: 20px;
  color: white; /* Choisir une couleur de texte adaptée */
  border-radius: 10px;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 60px; /* Définir la hauteur du header si nécessaire */
  z-index: 0;
}

h1 {
  font-size: large;
  color: brown;
}

.back-arrow {
  font-size: 70px;
  color: var(--blue);
  text-decoration: none;
  position: absolute;
  top: 10px;
  left: 30px;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--beige);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.3s ease-in-out;
  color: var(--blue);
}

.loading-content {
  text-align: center;
}

.loading-overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

.game-hud {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px;
  z-index: 9999;
}

.game-score {
  /*background-color: var(--beige);*/
  color: var(--orange);
  padding: 16px;
  border-radius: 8px;
  margin-right: 16px;
  font-family: "Creepster", cursive;
  font-family: 48px;
}

.pause-play-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--beige);
  border: none;
  border-radius: 50%;
  padding: 12px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition:
    background-color 0.3s,
    transform 0.3s;
  cursor: pointer;
}
.pause-play-btn:hover {
  transform: scale(1.1);
}
.pause-play-btn:focus {
  outline: none;
}
.play-icon {
  width: 0;
  height: 0;
  border-left: 15px solid var(--blue);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.pause-icon {
  display: flex;
  gap: 4px;
}
.pause-icon::before,
.pause-icon::after {
  content: "";
  width: 6px;
  height: 20px;
  background-color: var(--blue);
}

.global-nav-section {
  font-size: 2.4em;
  font-family: 'Dangrek', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 0.2em;
  transition: all 0.3s ease;
  color: #DA4C0F;
}

@media (min-width: 490px) and (max-width: 620px) {
  .global-nav-section {
      font-size: 1.8em;
  }
}

@media (max-width: 489px) {
  .global-nav-section {
      font-size: 1.3em;
  }
}

.global-nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.7em;
}

.global-nav-items a {
  padding-right: 0.3em;
  padding-left: 0.3em;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.global-nav-items h1 {
  transition: all 0.3s ease;
}

.global-nav-items a:hover {
  color: #ece8c4e9;
  background: #DA4C0F;
  box-shadow: 0 6px 12px rgba(218, 76, 15, 0.5); /* Augmentation de l'ombre */
  transform: translateY(-3px); /* Légère élévation */
}