@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
:root {
  --blue: rgba(10, 68, 120);
  --beige: rgba(222, 212, 184);
  --orange: #ffcc00;
  --primary-color: #da4c0f;
  --secondary-color: #ece8c4e9;
  --tertiary-color: #5a2108;
  --validate-color: #096d11;
  --danger-color: #a71611;
  --primary-font: "Dangrek", sans-serif;
  --secondary-font: "Roboto", sans-serif;
}

/* Largeur de la barre de scroll */
::-webkit-scrollbar {
  width: 10px; /* Scroll vertical */
  height: 10px; /* Scroll horizontal */
}

/* Fond de la scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px; /* Coins arrondis */
}

/* Curseur (la partie qu'on déplace) */
::-webkit-scrollbar-thumb {
  background: #ff660081; /* Couleur de la barre */
  border-radius: 10px;
  border: 2px solid #f1f1f1; /* Effet d'encadrement */
}

/* Curseur au survol */
::-webkit-scrollbar-thumb:hover {
  background: #e65100;
}

body,
html {
  height: 100%;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  overflow-x: hidden;
}

.body-container {
  margin: 0 auto;
}

/* Positionner le canvas en arrière-plan */
canvas#c {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  min-width: 320px;
  z-index: -1; /* Place le canvas derrière les autres éléments */
}

.main {
  display: flex;
  height: 60vh;
  width: 60%;
  min-width: 320px;
}

/* Appliquer un positionnement relatif pour le contenu */
.app {
  position: absolute;
  font-family: var(--secondary-font);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  height: 70vh;
  width: 60%;
  min-width: 320px;
  background: var(--secondary-color);
  padding: 20px;
  color: var(--blue);
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app,
#header,
.toggle-button-container {
  animation: floating 3s ease-in-out infinite;
}

/* Animation mise à jour */
@keyframes floating {
  0% {
    transform: translate(-50%, -45%) translateY(0) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -45%) translateY(-10px) rotate(1deg);
  }
  100% {
    transform: translate(-50%, -45%) translateY(0) rotate(0deg);
  }
}

@media (min-width: 931px) and (max-width: 1250px) {
  .menu {
    width: 70%;
  }
}

@media (min-width: 800px) and (max-width: 930px) {
  .menu {
    width: 80%;
  }
}

@media (max-width: 799px) {
  .menu {
    width: 90%;
  }
}

.back-arrow {
  font-size: 70px;
  color: var(--blue);
  text-decoration: none;
  position: absolute;
  top: 10px;
  left: 30px;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--beige);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.3s ease-in-out;
  color: var(--blue);
}

.loading-content {
  text-align: center;
}

.loading-overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

.game-hud {
  position: absolute;
  display: flex;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px;
  z-index: 9999;
}

.game-score {
  /*background-color: var(--beige);*/
  color: var(--orange);
  padding: 16px;
  border-radius: 8px;
  margin-right: 16px;
  font-family: "Creepster", cursive;
  font-family: 48px;
}

.pause-play-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--beige);
  border: none;
  border-radius: 50%;
  padding: 12px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition:
    background-color 0.3s,
    transform 0.3s;
  cursor: pointer;
}
.pause-play-btn:hover {
  transform: scale(1.1);
}
.pause-play-btn:focus {
  outline: none;
}
.play-icon {
  width: 0;
  height: 0;
  border-left: 15px solid var(--blue);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.pause-icon {
  display: flex;
  gap: 4px;
}
.pause-icon::before,
.pause-icon::after {
  content: "";
  width: 6px;
  height: 20px;
  background-color: var(--blue);
}

.global-nav-section {
  font-size: 2.4em;
  font-family: var(--primary-font);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 0.2em;
  transition: all 0.3s ease;
  color: var(--primary-color);
}

@media (min-width: 490px) and (max-width: 620px) {
  .global-nav-section {
    font-size: 1.8em;
  }
}

@media (max-width: 489px) {
  .global-nav-section {
    font-size: 1.3em;
  }
}

@media (max-width: 900px) {
  .app {
    width: 90%;
    min-width: 320px;
  }
}

.global-nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.7em;
  text-align: center;
}

.global-nav-items a {
  padding-right: 0.3em;
  padding-left: 0.3em;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.global-nav-items a:hover {
  color: var(--secondary-color);
  background: var(--primary-color);
  box-shadow: 0 6px 12px rgba(218, 76, 15, 0.5); /* Augmentation de l'ombre */
  transform: translateY(-3px); /* Légère élévation */
}

.global-page-title {
  text-align: center;
  font-size: 3em;
  letter-spacing: 0.2em;
  padding: 0.5em;
  font-family: var(--primary-font);
  color: var(--primary-color);
}
