/* Style principal de la navbar */

.navbar {
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -45%);
  height: 60vh;
  width: 40%; /* Largeur normale quand le menu est ouvert */
  padding: 20px;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.5s ease-in-out; /* Transition sur la largeur */
}

.navbar.show-nav {
  z-index: 1; /* Z-index élevé quand le menu est ouvert */
}

/* Style des liens de la navbar */
.navbar-links {
  position: fixed;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(222, 212, 184, 1);
  transition:
    width 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  z-index: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Lorsque le menu est ouvert, les liens prennent toute la largeur */
.navbar.show-nav .navbar-links {
  width: 100%;
  opacity: 1;
}

/* Liens dans la navbar */
.navbar-links li {
  list-style: none;
  margin: 1.5rem 0;
  opacity: 0;
  transform: scale(0.8);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.navbar.show-nav .navbar-links li {
  opacity: 1;
  transform: scale(1);
}

.navbar-links li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  transition: color 0.3s ease-in-out;
}

.navbar-links li a:hover {
  color: #d2443a;
}

/* Bouton burger */
.toggle-button {
  position: fixed;
  /* top: 50%;
  left: 90%;
  transform: translate(-50%, -45%); */
  top: 2rem;
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
  z-index: 10;
}

.toggle-button .bar2 {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  position: relative;
}

.toggle-button .bar2::before,
.toggle-button .bar2::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.toggle-button .bar2::before {
  transform: translateY(-10px);
}

.toggle-button .bar2::after {
  transform: translateY(10px);
}

.toggle-button.open .bar2 {
  background: transparent;
}

.toggle-button.open .bar2::before {
  transform: rotate(45deg);
}

.toggle-button.open .bar2::after {
  transform: rotate(-45deg);
}
