.home-main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 10%;
  padding-top: 10%;
  color: var(--primary-color);
  overflow-y: scroll;
  scrollbar-width: none;
}

.home-title {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  align-items: center;
  justify-content: center;
  font-family: "Oi", cursive;
  letter-spacing: 1em;
  text-indent: 1em;
}

@media (min-width: 0px) and (max-width: 500px) {
  .home-main-div {
    margin-top: 70px;
  }
}
