.home-main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 100%;
  gap: 10%;
  color: var(--primary-color);
}

.home-title {
  width: 70%;
  display: flex;
  justify-content: space-around;
  font-family: "Oi", cursive;
  letter-spacing: 1em;
  text-indent: 1em;
}

.home-title h1 {
  display: flex;
  justify-content: center;
  width: 50%;
}

@media (min-width: 950px) and (max-width: 1450px) {
  .home-title {
    width: 90%;
  }
}

@media (min-width: 850px) and (max-width: 950px) {
  .home-title {
    width: 100%;
  }
}

@media (max-width: 850px) {
  .home-title {
    flex-direction: column;
    margin-left: 0;
    align-items: center;
    justify-content: center;
  }
}


