body,
html {
  /* margin: 0;
  height: 100vh;
  background-color: #000;
  position: relative;
  overflow: hidden; */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#c {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: block; */
  z-index: 0;
}

#app {
  position: relative;
  z-index: 1; /* Au-dessus du canvas */
  padding: 20px; /* Ajustez selon vos besoins */
  background: rgba(255, 255, 255, 0.8); /* Pour améliorer la lisibilité */
  border-radius: 10px; /* Optionnel, pour le style */
  margin: auto;
  max-width: 600px; /* Pour centrer le contenu */
}
